In [5]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv("ocorrencia.csv", sep=",", parse_dates=['ocorrencia_dia'], dayfirst=True)

In [4]:
df.loc[:,:]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,15/08/2021,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,16/08/2021,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,17/08/2021,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,****,18/08/2021,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,18/08/2021,12:45:00,0

In [5]:
df.loc[[1,6]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,0

In [6]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0

In [8]:
df.loc[1:10,'ocorrencia_cidade']

1                  BELÉM
2         RIO DE JANEIRO
3     LUCAS DO RIO VERDE
4                PELOTAS
5               SALVADOR
6                  COARI
7               CANUTAMA
8               CASCAVEL
9          PARÁ DE MINAS
10      SÃO PEDRO DO SUL
Name: ocorrencia_cidade, dtype: object

In [21]:
df['ocorrencia_uf'].unique()

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '***', '890274583', '87', '82439',
       '6372222', 'PELOTAS', '6530', '1408920', '4780', '13666', '3705',
       '25234', '37', '961388', '261337', '605000', '475519', '1722687',
       '20083', '469226', '9186', '2528'], dtype=object)

In [19]:
df.codigo_ocorrencia2.is_unique
#df.set_index('codigo_ocorrencia', inplace=True)
#df.reset_index(drop=True, inplace=True)

True

In [17]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0
...,...,...,...,...,...,...,...,...
6109,80245,INCIDENTE,RECIFE,PE,SBRF,15/08/2021,15:05:00,0
6110,80247,INCIDENTE,PORTO VELHO,RO,SBPV,16/08/2021,02:30:00,0
6111,80251,INCIDENTE,BELÉM,PA,SBBE,17/08/2021,15:45:00,0
6112,80257,ACIDENTE,DOM AQUINO,MT,****,18/08/2021,16:00:00,0
6113,80259,INCIDENTE,CAMPINAS,SP,SBKP,18/08/2021,12:45:00,0

In [24]:
df.loc[df.ocorrencia_dia]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0
...,...,...,...,...,...,...,...,...
6109,80245,INCIDENTE,RECIFE,PE,SBRF,15/08/2021,15:05:00,0
6110,80247,INCIDENTE,PORTO VELHO,RO,SBPV,16/08/2021,02:30:00,0
6111,80251,INCIDENTE,BELÉM,PA,SBBE,17/08/2021,15:45:00,0
6112,80257,ACIDENTE,DOM AQUINO,MT,****,18/08/2021,16:00:00,0
6113,80259,INCIDENTE,CAMPINAS,SP,SBKP,18/08/2021,12:45:00,0

In [3]:
df.replace(["**", "!****", "****", "NULL"], pd.NA, inplace=True)# Onde ocorrer a lista, ele vai alterar.

In [12]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2263
ocorrencia_dia                 1
ocorrencia_hora                9
total_recomendacoes            1
dtype: int64

In [13]:
df.fillna(0, inplace=True)

In [ ]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [14]:
df.drop(['nome_da_coluna'], axis=1)#axis =1 coluna, axis = 0 linha

KeyError: "['nome_da_coluna'] not found in axis"

In [ ]:
df.dropna(subset=['nome_da_coluna'], inplace=True)
df.drop_duplicates(inplace=True)